* {
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Lucida Console", "Courier New", monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar-light .container-fluid, .navbar-light .navbar-brand {
	background-color: #35363a;
	border-radius: 0;
	color: white;
}
.navbar-light .navbar-toggler {
	background-color: white;
	margin-right: 5px;
}
.navbar .container-fluid, #header-nav {
	padding: 0;
	height: 80px;
}
.navbar-light .navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}
.navbar-light #nav-list a {
	margin: 0;
	color: black;
	padding: 15px;
	font-weight: bold;
	background-color: green;
}
.navbar-light #nav-list a:hover {
	color: white;
}

button .navbar-toggler {
	clear: both;
}
.navbar-nav hr {
	background-color: black;
	border: none;
	height: 2px;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
}
section, h3, p, p>span {
	background-color: #35363a;
	color: white;
	text-align: justify;
}
span>a:hover {
	background-color: black;
}